global:
  security:
    allowInsecureImages: true

image:
  registry: docker.io
  repository: apache/kafka
  tag: "4.1.1"

controller:
  replicaCount: 1
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
  persistence:
    enabled: true
    size: 5Gi
    storageClass: nfs

broker:
  replicaCount: 0

listeners:
  client:
    protocol: PLAINTEXT
  controller:
    protocol: PLAINTEXT
  interbroker:
    protocol: PLAINTEXT
