image:
  registry: docker.io
  repository: bitnami/kafka
  tag: 3.7.0-debian-12-r2

controller:
  replicaCount: 1
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
  persistence:
    enabled: true
    size: 5Gi
    storageClass: nfs

listeners:
  client:
    protocol: PLAINTEXT
  controller:
    protocol: PLAINTEXT
  interbroker:
    protocol: PLAINTEXT

kraft:
  enabled: true

zookeeper:
  enabled: false

provisioning:
  enabled: false
