cp-zookeeper:
  enabled: true
  servers: 1
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi
  persistence:
    enabled: true
    dataDirSize: 2Gi
    dataLogDirSize: 2Gi
    dataDirStorageClass: nfs
    dataLogDirStorageClass: nfs

cp-kafka:
  enabled: true
  brokers: 1
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
  persistence:
    enabled: true
    size: 5Gi
    storageClass: nfs
  configurationOverrides:
    "offsets.topic.replication.factor": "1"
    "transaction.state.log.replication.factor": "1"
    "transaction.state.log.min.isr": "1"
    "default.replication.factor": "1"
    "min.insync.replicas": "1"

cp-schema-registry:
  enabled: false

cp-kafka-rest:
  enabled: false

cp-kafka-connect:
  enabled: false

cp-ksql-server:
  enabled: false

cp-control-center:
  enabled: false
