image:
  registry: docker.io
  repository: apache/kafka
  tag: "4.1.1"

replicaCount: 1

kraft:
  enabled: true
  clusterId: "MkU3OEVBNTcwNTJENDM2Qk"

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

persistence:
  enabled: true
  size: 5Gi
  storageClass: nfs

config:
  offsets.topic.replication.factor: 1
  transaction.state.log.replication.factor: 1
  transaction.state.log.min.isr: 1
  default.replication.factor: 1
  min.insync.replicas: 1
