prometheusOperator:
  admissionWebhooks:
    enabled: false
    patch:
      enabled: false
  tls:
    enabled: false
  resources:
    requests:
      memory: 64Mi
      cpu: 50m
    limits:
      memory: 128Mi

alertmanager:
  enabled: false

grafana:
  enabled: false # Disable Grafana as user said monitoring is not important
  adminUser: admin
  adminPassword: "admin"
  service:
    type: NodePort
    nodePort: 31000
  ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
      - grafana.codecrew.site
    path: /
    pathType: Prefix
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 100m
      memory: 128Mi
  sidecar:
    dashboards:
      enabled: false
    datasources:
      enabled: true
      defaultDatasourceEnabled: true
  dashboardProviders: {}

prometheus:
  enabled: false # Disable Prometheus core as well to save maximum resources
  prometheusSpec:
    retention: 2h
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 256Mi

kube-state-metrics:
  enabled: false

prometheus-node-exporter:
  enabled: false