prometheusOperator:
  admissionWebhooks:
    enabled: false
    patch:
      enabled: false
  tls:
    enabled: false
  resources:
    requests:
      memory: 128Mi
      cpu: 100m
    limits:
      memory: 256Mi


alertmanager:
  enabled: false

grafana:
  service:
    type: NodePort
    nodePort: 31000
  ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
      - grafana.codecrew.site
    path: /
    pathType: Prefix
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 1Gi

prometheus:
  prometheusSpec:
    retention: 6h
    resources:
      requests:
        cpu: 100m
        memory: 512Mi
      limits:
        cpu: 500m
        memory: 1Gi

kube-state-metrics:
  resources:
    requests:
      cpu: 20m
      memory: 64Mi

prometheus-node-exporter:
  resources:
    requests:
      cpu: 10m
      memory: 32Mi