prometheusOperator:
  admissionWebhooks:
    enabled: false
  resources:
    requests:
      memory: 128Mi
      cpu: 100m
    limits:
      memory: 256Mi

prometheus:
  prometheusSpec:
    retention: 1d
    resources:
      requests:
        memory: 800Mi
        cpu: 400m
      limits:
        memory: 1.5Gi

alertmanager:
  alertmanagerSpec:
    resources:
      requests:
        memory: 64Mi
        cpu: 50m
      limits:
        memory: 128Mi

grafana:
  service:
    type: NodePort
    nodePort: 31000
  ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
      - grafana.codecrew.site
    path: /
    pathType: Prefix
  resources:
    requests:
      memory: 128Mi
      cpu: 50m
    limits:
      memory: 256Mi
  readinessProbe:
    initialDelaySeconds: 60
    timeoutSeconds: 10
    periodSeconds: 10
  livenessProbe:
    initialDelaySeconds: 60
    timeoutSeconds: 10
    periodSeconds: 10

kube-state-metrics:
  resources:
    requests:
      memory: 64Mi
      cpu: 10m
    limits:
      memory: 128Mi

prometheus-node-exporter:
  resources:
    requests:
      memory: 30Mi
      cpu: 10m
    limits:
      memory: 50Mi