prometheusOperator:
  admissionWebhooks:
    enabled: false
  resources:
    requests:
      memory: 128Mi
      cpu: 100m
    limits:
      memory: 256Mi

alertmanager:
  enabled: false  # 비활성화!

grafana:
  service:
    type: NodePort
    nodePort: 31000
  ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
      - grafana.codecrew.site
    path: /
    pathType: Prefix
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi

prometheus:
  prometheusSpec:
    retention: 6h  # 1d → 6h
    resources:
      requests:
        cpu: 100m     # 400m → 100m
        memory: 512Mi # 800Mi → 512Mi
      limits:
        cpu: 500m
        memory: 1Gi

kube-state-metrics:
  resources:
    requests:
      cpu: 20m
      memory: 64Mi

prometheus-node-exporter:
  resources:
    requests:
      cpu: 10m
      memory: 32Mi