agones:
  controller:
    replicas: 1
    resources:
      requests:
        cpu: 100m
        memory: 64Mi
      limits:
        cpu: 500m
        memory: 128Mi
  extensions:
    replicas: 1
    resources:
      requests:
        cpu: 50m
        memory: 32Mi
      limits:
        cpu: 200m
        memory: 64Mi
  allocator:
    replicas: 1
    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        cpu: 200m
        memory: 128Mi
    install: true
    healthCheck:
      initialDelaySeconds: 10
      periodSeconds: 3
      failureThreshold: 3
      timeoutSeconds: 1
    readiness:
      initialDelaySeconds: 10
      periodSeconds: 3
      failureThreshold: 3
    service:
      serviceType: ClusterIP
    serviceMetrics:
      http:
        enabled: true
        port: 8080
        portName: http
  ping:
    install: false
