resources:
  requests:
    memory: 128Mi
    cpu: 50m
  limits:
    memory: 128Mi

config:
  snippets:
    extraRelabelConfigs:
      - source_labels:
          - __meta_kubernetes_namespace
        target_label: namespace
      - source_labels:
          - __meta_kubernetes_pod_name
        target_label: pod
      - source_labels:
          - __meta_kubernetes_pod_container_name
        target_label: container
      - source_labels:
          - __meta_kubernetes_pod_label_app
        target_label: app