deploymentMode: SingleBinary

loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    type: filesystem
  limits_config:
    retention_period: 168h
  useTestSchema: true

singleBinary:
  replicas: 1
  affinity: {}
  resources:
    requests:
      memory: 512Mi
      cpu: 200m
    limits:
      memory: 1Gi

chunksCache:
  enabled: false

resultsCache:
  enabled: false

backend:
  replicas: 0

read:
  replicas: 0

write:
  replicas: 0

persistence:
  enabled: false

gateway:
  enabled: true
  replicas: 1
  affinity: {}
  resources:
    requests:
      memory: 32Mi
      cpu: 10m
    limits:
      memory: 64Mi