{{- if .Values.deployment.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "service-helm.fullname" . }}
  labels:
    {{- include "service-helm.labels" . | nindent 4 }}
      {{- include "service-helm.selectorLabels" . | nindent 4 }}
spec:
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit | default 3 }}
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "service-helm.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "service-helm.labels" . | nindent 8 }}
          {{- include "service-helm.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "service-helm.serviceAccountName" . }}
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml .Values.imagePullSecrets | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ include "service-helm.fullname" . }}
          image: "{{ required "image.repository is required" .Values.image.repository }}:{{ required "image.tag is required" .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}

          envFrom:
            - configMapRef:
                name: {{ include "service-helm.fullname" . }}
                optional: true
            - secretRef:
                name: {{ include "service-helm.fullname" . }}
                optional: true

          ports:
            - name: http
              containerPort: {{ .Values.containerPort }}

          {{- if .Values.env }}
          env:
            {{- toYaml .Values.env | nindent 12 }}
          {{- end }}

          {{- if .Values.resources }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- end }}
{{- end }}
