apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "service-helm.fullname" . }}
  labels:
    {{- include "service-helm.labels" . | nindent 4 }}
      {{- include "service-helm.selectorLabels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "service-helm.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "service-helm.labels" . | nindent 8 }}
          {{- include "service-helm.selectorLabels" . | nindent 8 }}
    spec:
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml .Values.imagePullSecrets | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ include "service-helm.fullname" . }}
          image: "{{ required "image.repository is required" .Values.image.repository }}:{{ required "image.tag is required" .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}

          {{- if or ((.Values.configmap | default dict).enabled) ((.Values.sealedSecret | default dict).enabled) }}
          envFrom:
            {{- if (.Values.configmap | default dict).enabled }}
            - configMapRef:
                name: {{ include "service-helm.fullname" . }}
            {{- end }}
            {{- if (.Values.sealedSecret | default dict).enabled }}
            - secretRef:
                name: {{ include "service-helm.fullname" . }}
            {{- end }}
          {{- end }}

          ports:
            - name: http
              containerPort: {{ .Values.containerPort }}

          {{- if .Values.env }}
          env:
            {{- toYaml .Values.env | nindent 12 }}
          {{- end }}

          {{- if .Values.resources }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- end }}
