{{- if .Values.agones.enabled }}
apiVersion: agones.dev/v1
kind: Fleet
metadata:
  name: {{ include "service-helm.fullname" . }}
  labels:
    {{- include "service-helm.labels" . | nindent 4 }}
      {{- include "service-helm.selectorLabels" . | nindent 4 }}
spec:
  replicas: {{ .Values.agones.fleet.replicas }}
  scheduling: {{ .Values.agones.fleet.scheduling }}
  strategy:
    type: {{ .Values.agones.fleet.strategy.type }}
    {{- if eq .Values.agones.fleet.strategy.type "RollingUpdate" }}
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    {{- end }}
  template:
    metadata:
      generateName: {{ include "service-helm.fullname" . }}-
      labels:
        {{- include "service-helm.selectorLabels" . | nindent 8 }}
      {{- if .Values.agones.fleet.annotations }}
      annotations:
        {{- toYaml .Values.agones.fleet.annotations | nindent 8 }}
      {{- end }}
    spec:
      ports:
        {{- toYaml .Values.agones.fleet.ports | nindent 8 }}
      template:
        spec:
          {{- if .Values.imagePullSecrets }}
          imagePullSecrets:
            {{- toYaml .Values.imagePullSecrets | nindent 12 }}
          {{- end }}
          containers:
            - name: {{ include "service-helm.fullname" . }}
              image: "{{ required "image.repository is required" .Values.image.repository }}:{{ required "image.tag is required" .Values.image.tag }}"
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              
              envFrom:
                - configMapRef:
                    name: {{ include "service-helm.fullname" . }}
                    optional: true
                - secretRef:
                    name: {{ include "service-helm.fullname" . }}
                    optional: true

              {{- if .Values.env }}
              env:
                {{- toYaml .Values.env | nindent 16 }}
              {{- end }}

              {{- if .Values.resources }}
              resources:
                {{- toYaml .Values.resources | nindent 16 }}
              {{- end }}
{{- end }}
