apiVersion: v1
kind: Service
metadata:
  name: {{ include "service-helm.fullname" . }}
  labels:
    {{- include "service-helm.labels" . | nindent 4 }}
      {{- include "service-helm.selectorLabels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  selector:
    {{- include "service-helm.selectorLabels" . | nindent 4 }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
