architecture: standalone

image:
  registry: docker.io
  repository: bitnamilegacy/mysql
  tag: 8.4.5-debian-12-r0

volumePermissions:
  enabled: true
  image:
    registry: docker.io
    repository: bitnamilegacy/os-shell
    tag: 12-debian-12-r50

metrics:
  enabled: false

auth:
  enabled: true
  existingSecret: mysql-auth
  database: codecrew
  username: codecrew

primary:
  configuration: |-
    [mysqld]
    default_time_zone = '+09:00'
  persistence:
    enabled: true
    storageClass: nfs
    size: 10Gi

  service:
    type: NodePort
    nodePorts:
      mysql: 30306

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 1000m
    memory: 1Gi
