image:
  repository: quay.io/keycloak/keycloak
  tag: "26.4.5"
  pullPolicy: IfNotPresent

replicas: 1

command:
  - "/opt/keycloak/bin/kc.sh"
  - "start"

http:
  relativePath: "/"

extraEnvFrom: |
  - secretRef:
      name: keycloak-auth
  - configMapRef:
      name: keycloak-config

extraEnv: |
  - name: KC_HEALTH_ENABLED
    value: "true"
  - name: KC_METRICS_ENABLED
    value: "true"

dbchecker:
  enabled: true

database:
  vendor: mysql
  hostname: mysql.mysql.svc.cluster.local
  port: 3306
  database: keycloak
  username: keycloak
  existingSecret: keycloak-auth
  existingSecretKey: DB_PASSWORD

service:
  type: NodePort
  httpPort: 80
  httpsPort: 443
  httpNodePort: 30880
  httpsNodePort: 30443

resources:
  requests:
    cpu: 100m
    memory: 512Mi
  limits:
    cpu: 2000m
    memory: 2Gi

health:
  enabled: true

metrics:
  enabled: true

startupProbe: |
  httpGet:
    path: '{{ tpl .Values.http.relativePath $ | trimSuffix "/" }}/health/ready'
    port: http
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 60

readinessProbe: |
  httpGet:
    path: '{{ tpl .Values.http.relativePath $ | trimSuffix "/" }}/health/ready'
    port: http
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 2

livenessProbe: |
  httpGet:
    path: '{{ tpl .Values.http.relativePath $ | trimSuffix "/" }}/health/live'
    port: http
  initialDelaySeconds: 60
  periodSeconds: 10
  timeoutSeconds: 2
