image:
  repository: quay.io/keycloak/keycloak
  tag: "26.4.5"
  pullPolicy: IfNotPresent

replicas: 1

command: []

args:
  - "start"

http:
  relativePath: "/"

# 이 차트 스키마: string(|)만 허용
extraEnvFrom: |
  - secretRef:
      name: keycloak-auth
  - configMapRef:
      name: keycloak-config

dbchecker:
  enabled: true

database:
  vendor: mysql
  hostname: mysql.mysql.svc.cluster.local
  port: 3306
  database: keycloak
  username: keycloak
  existingSecret: keycloak-auth
  existingSecretKey: DB_PASSWORD

service:
  type: ClusterIP
  httpPort: 80
  httpsPort: 443

ingress:
  enabled: true
  ingressClassName: traefik
  rules:
    - host: auth.codecrew.site
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - auth.codecrew.site
      secretName: auth-codecrew-tls
  annotations:
    cert-manager.io/cluster-issuer: cloudflare-issuer
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"

resources:
  requests:
    cpu: 100m
    memory: 512Mi
  limits:
    cpu: 2000m
    memory: 2Gi

metrics:
  enabled: true

health:
  enabled: false

startupProbe:
  enabled: false
readinessProbe:
  enabled: false
livenessProbe:
  enabled: false
